node_modules/
.next/
dist/
build/
coverage/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.parcel-cache/
.cache/
.DS_Store
.vscode/
.idea/
uploads/
*.log
/.pnp.*
ocr-web/
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
.vercel
.env*.local
